{% extends "layouts/base.html" %}

{% block content %}
        <!-- Page Header Start -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Features</h2>
                    </div>
                    <div class="col-12">
                        <a href="">Home</a>
                        <a href="/">Features</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header End -->


        <!-- Service Start -->
        <div class="service">
            <div class="container">
                <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                    <p>What we Offer</p>
                    <h2>{{config.APP_NAME}} For You</h2>
                </div>
                <div class="row">
                    {% for cat in categories.items %}
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.0s">
                        <a
                        href="{{url_for('main.main_category', category_id=cat.id)}}">
                         <div class="service-item" >
                             <div class="service-icon">
                                <i class="flaticon-workout"></i>
                            </div>
                            <h3 ">{{cat.title}}</h3>
                            <p>
                               {{cat.description[:40]}}
                            </p>
                        </div>
                    </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Service End -->

{% endblock %}
       