{% extends 'layouts/base.html' %}

{% block title %}Create Tracker{% endblock %}
{% block content %}

<div class="main" style="background-image: url('/static/img/main-bg.svg');">
<div class="col-12 wow fadeInUp" data-wow-delay="0.1s">
  <div class="content">
    <div class="container">
      <div class="row justify-content-center">
        <!-- <div class="col-md-6 order-md-2">
          <img src="images/undraw_file_sync_ot38.svg" alt="Image" class="img-fluid">
        </div> -->
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-12">
              <div class="form-block">
                  <div class="mb-4">
                  <h3>Create A Tracker</h3>
                  <p class="mb-4">Keep Track of your Activities Today.</p>
                </div>
                {% for field, errors in form.errors.items() %}
                <p style="color: red; background-color: seashell;">{{','.join(errors)}} </p>
                {% endfor %}
                <form method="post">
                    {{form.hidden_tag()}}   
                  <div class="form-group first">
                    
                    {{ form.title(class_ = 'form-control first-input', placeholder = form.title.label.text, required = true, autofocus = true) }}
                  </div>  
                  
                    <div class="form-group">
                    
                    {{ form.timestamp(class_ = 'form-control', placeholder = form.timestamp.label.text, required = true, autofocus = true) }}
                    
                  </div>
                  
                    <div class="form-group">
                    
                    {{ form.description(class_ = 'form-control', placeholder = form.description.label.text, required = true, autofocus = true) }}
                   </div>
                    
                  <div class="form-group last">
                    {{ form.categories(class_ = 'form-control', placeholder = form.categories.label.text) }}
                  </div>
                 

                  <input type="submit" value="Create" class="btn btn-primary btn-lg btn-block">
                  
                </form>
              </div>
            </div>
          </div>
          
        </div>
        
      </div>
    </div>
  </div>

</div>  
</div>
     {% endblock %}
